  body {
      margin: 0;
  }

  /* spinner */

  .spinner-container {
      height: 600px;
  }

  .preloader-wrapper {
    left: 50%;
    margin-left: -2em;
    top: 40%;
  }


  .brand-logo {
      margin-left: 10px;
  }

  /* align top navbar */
  ul {
      height: 63px;  
  }

  li {
      margin-left: 30px;
  }

  .tnc-list {
      margin: 10px 0;
  }

  .nav-item {
    padding: 0 10px;
  }

  .nav-item:hover {
    background-color: darkred;
  }

  .main-banner {
    background-color:#211E27;
    align-content: center;
    text-align: center;
  }

  h5 {
      font-size: 20px;
      text-align: center;
      padding-top: 20px;
      color: red;
      font-weight: 500;
  }

  h4 {
    /* line-height: 1.2; */
  }

  #slogan {
      font-size: 1.7em;
      color: white;
      text-align: center;
  }

  .main {
      height: auto;
  }

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    position: sticky;
    top: 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
    font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    color: red;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin: 0 50px;
}

#promotions-layer, #terms-layer, #contact-layer {
    z-index: 10;
}

#tab-large, #tab-med {
    z-index: 9;
}

#tab-large {
    top:60px;
}

.tab {
    text-align: center;
    width: 100%;
    z-index: 2;
    margin-top: 50px
}

#tab-med {
    position: sticky;
    top: 55px;
}

.tablinks {
    float: none; /*to make sure there is no active float*/
    display: inline-block;
}

.img-tab img{
    width: 15vh;
}

#staff-message {
    font-size: 1.4em;
    margin-top: 
}

#save_tab {
    display: block;
}

h4 {
    font-size: 1.3em;
    font-weight: 500;
}

.item {
    font-size: 0.8em;
}

.item-title {
    font-weight: 500;
    margin-left: 20px;
}

.link-style:hover, .nav-image-title:hover {
    text-decoration: underline;
    color: red!important;
}

.nav-image-title {
    font-weight: 500;
}

.item-description {
    color: gray;
    list-style-type: disc!important;
    font-size: 0.9em;
    
}

a {
    color: black;
}

#login {
    padding: 0;
}

@media only screen and (max-width: 762px) {
    #slogan {
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 412px) {
    #slogan {
        font-size: 1em;
    }

    .tabcontent {
        display: none;
        padding: 0px;
        border-top: none;
        margin: 0 10px;
    }
    
    .application-text {
        font-size: 1em!important;
        margin: 10px;
    }

    .item-description{
        font-size: 1em!important;
    }

    .item-title {
        font-size: 1em!important;
        padding-top: 10px;    
    }

    .story-paragraph {
        font-size: 1em!important;
    }

    .story-title {
        font-size: 1em!important; 
    }
    
}

@media only screen and (max-width: 600px) {

    .item-container {
        margin: 10px;
    }

    .banner-image {
        margin-bottom: 10px;
    }

    /* #slogan {
        font-size: 1em;
    } */

    h5 {
        font-size: 1.1em;
        padding-top: 0;
        padding: 0 10px;
    }

    #staff-message {
        font-size: 1.1em;
        padding: 0 5px;
    }

    .stories {
        position: relative;
        width: 100%;
        padding: 0px;
        z-index: 1;
    }
    
    
}

footer {
    height: 30px;
}

.hidden {
    display: none;
}

#contact-layer, #promotions-layer, #terms-layer {
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    font-size: 0.8em; 
}

.bold {
    font-weight: 500;
    /* color: red; */
}

.border-right {
    border-right: 3px solid red;
    margin-right: 50px;
}

.nav-promo-image {
    width: 80%;
}

.nav-terms-image {
    height: 150px;
    /* margin: 20px 20px 0 20px; */
}

.stories {
    position: absolute;
    padding-left: 20px;
    width: 40%;
    z-index: 1;
}

.story-paragraph {
    font-size: 0.8em;
    font-weight: 400;
}

.story-title {
    margin-top: -5px;
    font-size: 1.2em;
}

.show-on-small-only {
    text-align: center;
    font-size: 0.9em;
}

.copyright {
    font-size: 0.8em;
    font-weight: 400;
}

/* Sidenav styling */

#sidenav-contact, #sidenav-terms {
    height: 1000px;
}

#tab-hr {
    margin: 50px;
}

.application-text {
    color: gray;
    font-size: 0.9em;
}

.tab-section-title {
    /* margin-top: -20px; */
    padding-bottom: 10px;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;

}