  body {
      margin: 0;
  }

  .brand-logo {
      margin-left: 10px;
  }

  /* align top navbar */
  ul {
      height: 63px;  
  }

  li {
      margin-left: 40px;
  }

  .main-banner {
    background-color:#211E27;
    align-content: center;
    text-align: center;

    /* height: 350px; */
    /* margin-top: -30px; */
    /* flex: right; */
  }

  .banner-image {
      background-image: url("chopsticks5.png");
      background-repeat: no-repeat;
      background-size: cover;
      /* height: 350px; */
  }

  h5 {
      font-size: 20px;
      text-align: center;
      padding-top: 20px;
      color: red;
      font-weight: 500;
  }

  h4 {
    /* line-height: 1.2; */
  }

  #slogan {
      /* padding-top: 100px; */
      font-size: 1.7em;
      color: white;
      text-align: center;
      /* height: 350px; */
      /* padding-bottom: 160px; */
  }

  .main {
      height: auto;
  }

  #login {
      margin-left: 50px;
  }

  /* test */

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    position: sticky;
    top: 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
    font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    color: red;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #cccccc; */
    border-top: none;
    border-bottom: 1px solid #cccccc;
    margin: 0 50px;
}

#promotions-layer, #terms-layer, #contact-layer {
    z-index: 10;
}

#tab-large, #tab-med {
    z-index: 9;
}

#tab-large {
    top:60px;
}

.tab {
    text-align: center;
    width: 100%;
    z-index: 2;
    margin-top: 50px
}

#tab-med {
    position: sticky;
    top: 55px;
}

.tablinks {
    float: none; /*to make sure there is no active float*/
    display: inline-block;
}

#staff-message {
    font-size: 1.4em;
    margin-top: 
}

#save_tab {
    display: block;
}

h4 {
    font-size: 1.3em;
    font-weight: 500;
}

.item {
    font-size: 0.8em;
}

.item-title {
    font-weight: 800;
    margin-left: 20px;
}

.item-description {
    color: gray;
    list-style-type: disc!important;
    
}

a {
    color: black;
}

a:hover {
    color: red;
}


@media only screen and (max-width: 900px) {
    #slogan {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {

    .item-container {
        margin: 10px;
    }

    .banner-image {
        margin-bottom: 10px;
    }

    #slogan {
        font-size: 1em;
    }

    h5 {
        font-size: 1.1em;
        padding-top: 0;
        padding: 0 10px;
    }

      #staff-message {
        font-size: 1.3em;
        padding: 0 5px;

        .stories {
            position: relative;
            width: 100%;
            padding: 0px;
            z-index: 1;
        }
    }
    
}

footer {
    height: 30px;
}


.img-tab img{
    width: 15vh;
}

.hidden {
    display: none;
}

#contact-layer, #promotions-layer, #terms-layer {
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    font-size: 0.8em;
    
}

.bold {
    font-weight: 500;
    color: red;
}

.border-right {
    border-right: 3px solid red;
    margin-right: 50px;
}

.nav-promo-image {
    width: 80%;
}

.nav-terms-image {
    width: 70%;
    /* margin: 20px 20px 0 20px; */
}

figcaption {
    font-size: 12px;
    /* margin: 0 20px; */
}

.stories {
    position: absolute;
    padding-left: 20px;
    width: 40%;
    z-index: 1;
}

.story-paragraph {
    font-size: 0.8em;
    font-weight: 400;
}

.story-title {
    margin-top: -5px;
    font-size: 1.2em;
}

.show-on-small-only {
    text-align: center;
    font-size: 0.9em;
}