

  body {
      margin: 0;
  }

  /* align top navbar */
  ul {
      height: 63px;  
  }

  li {
      margin-left: 40px;
  }

  .main-banner {
    background-color:#211E27;
    align-content: center;
    margin-top: -30px;
    flex: right;
  }

  h5 {
      font-size: 20px;
      text-align: center;
      padding-top: 20px;
      color: red;
      font-weight: 500;
  }

  h4 {
    /* line-height: 1.2; */
  }

  #slogan {
      padding-top: 200px;
      font-size: 1.5em;
      color: white;
      text-align: center;
      /* padding-bottom: 160px; */
  }

  #login {
      margin-left: 50px;
  }

  /* test */

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    margin-right: 30px;
    margin-left: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
    font-weight: 500;
    padding: 30px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    color: red;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #cccccc; */
    border-top: none;
    border-bottom: 1px solid #cccccc;
    margin: 0 50px;

}

.tab {
    text-align: center;
    width: 100%;
}

.tablinks {
    float: none; /*to make sure there is no active float*/
    display: inline-block;
}

#staff-message {
    font-size: 1.4em;
    margin-top: 
}

#save_tab {
    display: block;
}

h4 {
    font-size: 1.3em;
    font-weight: 500;
}

.item {
    font-size: 0.8em;
}

.item-title {
    font-weight: 800;
    margin-left: 20px;
}

.item-description {
    color: gray;
    list-style-type: disc!important;
    
}

@media only screen and (max-width: 600px) {
    .item-container {
        margin: 10px;
    }

    .banner-image {
        margin-bottom: 10px;
    }

    #slogan {
        font-size: 1em;
    }

    h5 {
        font-size: 1.1em;
        padding-top: 0;
    }

      #staff-message {
        font-size: 1.15em;
    }
    
}

footer {
    height: 30px;
}
